body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This makes the element vertically centered as well */
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.donos {
  text-align: center;
}

.amount {
  font-size: 86px;
  color: rgb(40, 161, 125);
}

.btn {
  border-radius: 2px;
  font-size: large;
}

.btn:hover {
  background-color: rgb(40, 161, 125);
}

.lbl {
  font-size: 20px;
}

input {
  font-size: 20px;
}
